/* Font-face definitions */
@font-face {
  font-family: 'Uniform';
  src: url('./Assets/Fonts/UniformRnd-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Assets/Fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Assets/Fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Assets/Fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}